
input {
  width: 18px;
  padding-left: 8px;
  border-radius: 10px;
}

button {
  text-align: center;
  /* width: 10%; */
  height: 22px;
  font-size: 0.6em;
  background-image: linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0, #9898ff);
  border: 1px solid rgb(96, 139, 168);
  border-radius: 10px;
}

td {
  padding: 0px;
}

span {
  height: 2px;
}

.container {
  display: grid;
  grid-template-columns: 45% 45% 10%;
  grid-template-rows: auto; /* auto;*/
  grid-gap: .6rem;
  background-color: transparent;
  border: none;
  overflow-y: scroll;
  grid-template-areas:
  'input table .'
  /* '. body .'; */
}

.topic {
  padding: 7px;
  margin-bottom: -15px;
  border-radius: 10px;
  background-color: rgba(154, 219, 240, .25);
  width: 90%;
}

.timeAdjusterTop {
  width: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-image: none; /* linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0, #9adbf0); */
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 10;
  top: 12px;
  border-bottom: none;
}

.timeAdjusterMiddle {
  width: 30px;
  border-radius: 0px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 5;
  border: none;
}

.timeAdjusterBottom {
  width: 30px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-image: none; /* linear-gradient(#9adbf0, #9adbf0, #9adbf0, #9abdf0, #9898ff); */
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 10;
  top: -36px;
  border-top: none;
}

.text {
  font-weight: bold;
  margin-bottom: 4px;
}

.backgroundUp {
  width: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0, #9adbf0);
  position: relative;
  top: 34px;
  z-index: 1;
  border-bottom: none;
}

.backgroundDown {
  width: 30px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-image: linear-gradient(#9adbf0, #9adbf0, #9adbf0, #9adbf0, #9898ff);
  position: relative;
  top: -14px;
  z-index: 1;
  border-top: none;
}

#d1, #g1 {
  margin-left: 0px;
}

#text1, #text2 {
  display: flex;
  grid-area: input;
  align-self: center;
  font-weight: bold;
}

#inputTimeBox {
  grid-area: input;
  width: 30px;
  height: 15px;
}

#table {
  grid-area: table;
  border-collapse: collapse;
}

#inputTaskBox {
  width: 212px;
}

#inputDurationBox {
  width: 50px;
  height: 15px;
}

/* #inputTimeBox {
  width: 30px;
} */

#apply, #cancel {
  font-size: 0.7em;
}
