* {
  box-sizing: border-box;  /* Include margin, padding and border in box sizes */
}

body {
  max-width: 550px;
  min-width: 340px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

button:hover,
button:focus {
  /* transform: scaleY(1.2); */
  transform: rotateX(10deg);
  border: 1px solid rgb(255, 50, 255);
}

/* button.addTaskButton {
position: absolute;
bottom: 225px;
left: 310px;
border: 3px solid rgba(154, 219, 240, .9);
background-color: rgba(154, 219, 240, .6);
border-radius: 25px;
z-index: 999;
} */

div {
  /* flex: initial; */
  text-align: left;
  border: 1px solid rgb(96, 139, 168);
  border-radius: 4px;
  background-color: rgba(154, 219, 240, .35);
}

h1 {
  margin: unset;
}

input {
  width: auto;
  padding-left: 8px;
  border-radius: 10px;
}

p {
  font-size: 10px;
}

@keyframes infoAnimation {
  0% {border: 1px solid rgb(96, 139, 168);}
  50% {border: 1px solid rgb(255, 0, 0);}
  100% {border: 1px solid rgb(96, 139, 168);}
}

@media only screen and (min-width: 450px) {
  html {
    background-color: black;
  }

  /* Why doesn't this work? */
  .container2 {
    height: 430px;
  }
}

.button-disabled{
  cursor: not-allowed;
  K  /* pointer-events: none; */
  border: none;
}

.centerWrapper {
  display: grid;
  grid-template-columns: 20px 40px auto 40px 40px 20px;
  grid-gap: .3rem;
  background-color: transparent;
  border: none;
  overflow-y: scroll;
}

.container1 {
  display: grid;
  grid-template-columns: 40px auto 25px 40px;
  grid-template-rows: auto auto auto;
  grid-gap: .3rem;
  background-color: transparent;
  border: none;
  overflow-y: scroll;
  grid-template-areas:
  'storage header info month'
  '. hearts . .'
  '. messages . .';
}

.container2 {
  display: grid;
  grid-template-columns: 1% 10% 1% 83% 1%;
  grid-template-rows: auto auto auto;
  grid-gap: .3rem;
  /* justify-items: center; */
  background-color: transparent;
  border: none;
  height: 480px;
  overflow-y: scroll;
  grid-template-areas:
  '. . . taskHeader .'
  'stressBar timeBar . taskListing .'
  '. . . taskFooter .';
}


.controlButton {
  /* display: inline-block; */
  text-align: center;
  width: auto;
  height: 22px;
  border: 1px solid rgb(96, 139, 168);
  border-radius: 10px;
  background-image: linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0, #9898ff);
  font-size: 10px;
  padding-left: 3px;
}


.halfHours1,
.halfHours2 {
  background-color: transparent;
  /* background-color: blue; */
  padding: 0px;
  border: none;
  border-radius: 0px;
  /* width: 41px; */
  height: 2.0833%;
  font-size: 14px;
  /* text-align: center; */
  border-top: 1px solid rgba(154, 219, 240, 1.0);
}

.halfHours1 {
  height: 1.0417%;
}

/* .dontTouch {
  cursor: not-allowed; */
  /* pointer-events: none; */
/* } */

.pause {
  border: none;
  background-color: rgba(154, 219, 240, .25);
  box-shadow: 0px 0px 3px 2px rgba(152, 250, 172, 0.56);
}

.stressDiv {
  font-size: 14px;
  height: 1.0417%;
  width: 7px;
  color: hsl(255, 100%, 85%);
  border: none;
  border-radius: 0px;
}

.task {
  text-align: left;
  border: 1px solid rgb(96, 139, 168);
  border-radius: 10px;
  background-color: rgba(154, 219, 240, .6);
  grid-area: taskListing;
}

.isFuzzy { /* Needs to come after .task */
   border: 1px solid rgba(154, 219, 240, 1.0);
  border-radius: 10px;
  background-color: rgba(154, 219, 240, .25);
  box-shadow: 0px 0px 3px 2px rgba(154, 219, 240, .25);
}

.isGain { /* Needs to come after .isFuzzy and before .isClicked */
  border: 1px solid rgba(123, 217, 71, 1.0);
  background-color: rgba(123, 217, 71, .2);
}

.isClicked { /* Needs to come after .isFuzzy */
  transform: rotateX(10deg);
  border: 1px solid rgb(255, 50, 255);
}

.isNotFuzzy.isGain { /* Needs to come after .isFuzzy */
  border: 1px solid rgba(123, 217, 71, 1.0);
  background-color: rgba(123, 217, 71, .3);
}

.isNullTime { /* Needs to come after .task */
  background-color: white;
  border: 1px solid rgba(154, 219, 240, 1.0);
  border-radius: 10px;
}

#addTaskButton {
  position: relative;
  bottom: 50px;
  left: 320px;
  font-size: x-large;
  line-height: 0.1em;
  text-align: center;
  padding: .1em 0.12em .2em .1em;
  height: 1.3em;
  background-image: linear-gradient(#08e22a, #0bfb31, #0bfb31, #0bfb31, #08e22a);
  border-radius: 15px;
  width: 1.3em;
  border: 1px solid rgb(108, 168, 48);
}

#heart {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: white;
  font-size: 14px;
  grid-area: hearts;
}

#info {
  width: 24px;
  background-image: linear-gradient(#bbbbf2, #c7e9f4, #c7e9f4, #c7e9f4, #bbbbf2);
  border-radius: 20px;
  justify-content: center;
  grid-area: info;
  padding-left: 5px;

  animation-name: infoAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused;
}

#info img {
  height: 13px;
  width: 13px;
}

#message {
  display: flex;
  text-align: center;
  grid-area: messages;
}

#month {
  grid-area: month;
  justify-self: end;
}

#name {
  justify-content: center;
  grid-area: header;
}
#nowSpan {
  border-bottom: 3px solid rgba(255, 0, 255, 1.0);
  grid-area: timeBar;
  z-index: 999;
}

#settings {
  width: auto;
  font-size: 15px;
}

#storage {
  grid-area: storage;
}

#stressDiv {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  height: 1440px;
  align-items: center;
  grid-area: stressBar;
}

#taskDiv {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  height: 1440px;
  width: 100%;
  grid-area: taskListing;
}

#timeDiv {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  /* background-color: red; */
  border: none;
  width: 100%;
  height: 1440px;
  align-items: center;
  grid-area: timeBar;
}

#upButton,
#nowButton,
#editButton {
  /* width: auto;
  font-size: 10px;
  padding: 0px; */
  /* background-image: linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0, #9898ff); */
}


#zoom {
  text-align: left;
  width: auto;
  font-size: 15px;
}
