.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

div {
  flex: initial;
  text-align: left;
  padding-left: 8px;
  margin: 2px;
  width: 300px;
  border: 1px solid rgb(96, 139, 168);
  border-radius: 25px;
  background-color: rgba(154, 219, 240, .35);
}

.unprocessed {
  /* flex: initial;
  text-align: left;
  padding-left: 8px;
  margin: 3px;
  width: 300px;
  border: 1px solid rgba(154, 219, 240, .15);
  border-radius: 25px; */
  background-color: rgba(154, 219, 240, .25);
  box-shadow: 0px 0px 3px 2px rgba(154, 219, 240, .25);
}

input {
  width: 80%;
  padding-left: 8px;
  border-radius: 25px;
}

button {
  text-align: center;
  border: 1px solid rgb(96, 139, 168);
  border-radius: 25px;
}

#editButton {
  width: 15%;
  height: 22px;
  background-image: linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0, #9898ff);
}

#topButton {
  width: 100%;
  background-image: linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0);
}

#bottomButton {
  width: 100%;
  background-image: linear-gradient(#9adbf0, #9adbf0, #9adbf0, #9898ff);
}

button:hover,
button:focus {
  transform: scaleY(1.2);
  border: 1px solid rgb(255, 5  0, 255);
}

/* div[data-minutes='0'] {
  height: 30px;
}

div[data-minutes='30'] {
  height: 15px;
} */

/* div:nth-child(odd) {
  background-color: rgba(96, 139, 168, 0.4);
}

div:nth-child(even) {
  background-color: rgba(96, 139, 168, .2);
} */
/*
.div1 {
  background-color: rgba(96, 139, 168, .2)
}

.div2 {
  background-color: rgba(255, 255, 255, .2)
} */

/* .box {
  display: inline;
  align-items: end;
  justify-content: center;
}

.box1 {
  display: flex;
  align-items: start;
  justify-content: center;
}

div {
  flex: initial;
  height: 40px;
  text-align: center;
  padding-top: 50px;
  border: 1px solid rgb(96, 139, 168);
  border-radius: 25px;
  background-color: rgba(96, 139, 168, .2) !important;
}

.mid {
  height: 100px;
  padding-top: 130px;
  padding-bottom: 0px;
}

.thumb {
  padding: 10px;
  height: 50px;
  width: 50px;
} */
